.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
color: #000;
}

.link {
  color: #2f80ed;
  text-decoration: none;
}

.header {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  /* выше установили ограничения для секции */
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  width: 183px;
  height: 32px;
}

.logo__image {
  max-width: 100%;
}

.header__title {
  margin:0 0 0 64px;
  justify-self: flex-start;
  align-self: center;
  z-index: 2;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 700;
}

.header__subtitle {
  position: absolute;
  margin: 0;
  left: 64px;
  bottom: 30px;
  width: 388px;
  z-index: 2;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__main-ilustration {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
  height: 608px;
  width: 765px;
}

.description {
  display: flex;
  justify-content: center;
}

.two-columns {
  display: flex;
  margin: 100px 0 0 0;
  width: 90%;
  justify-content: space-between;
  align-items: flex-start;
}

.two-columns__brief {
  width: 175px;
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  color:#2f80ed;
  font-weight: normal;
}

.two-columns__main-text {
  display: flex;
  width: 80%;
  min-width: 784px;
  flex-direction: column;
  justify-content: space-between;
}

.two-columns__paragraph {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__span-accent {
  font-weight: 700;
}

.two-columns__paragraph:not(:first-child) {
  margin-top: 30px;
}

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
}

.section-title {
  margin: 0;
  width: 60%;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
}

.section-subtitle {
  margin: 20px 0 0 0;
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
}

.table__cell {
  width: 250px;
  margin: 60px 0 0 0;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
}

.table__text {
  margin-top: 20px;
  margin-bottom: 0%;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman {
  box-sizing: border-box;
  padding-top: 100px;
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  min-height: 890px;
  position: relative;
}

.feynman__title {
  width: 648px;
  text-align: center;
  margin: 0 auto;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 700;
}

.feynman__subtitle {
  margin: 0;
  margin-top: 70px;
  padding: 0;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.kaufman {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  padding: 90px 0;
  overflow: hidden;
  position: relative;
  color: #fff;
}

.section-title_theme_dark {
  z-index: 1;
}

.section-subtitle_theme_dark {
  z-index: 1;
}

.table_theme_dark {
  z-index: 1;
}
.table__cell_theme_dark {
  margin-top: 80px;
  width: 200px;
  color: white;
  margin-right: 0;
  z-index: 1;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0;
  right: -210px;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: 877px 877px;
  background-repeat: no-repeat;
}
.footer {
  color: #fff;
  min-height: 350px;
  display: flex;
  justify-content: center;
  background-color: #1f1f1f;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  min-height: 250px;
  margin-top: 60px;
  margin-bottom: 40px;

}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
}

.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.footer__column-heading {
  margin: 0;
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
}

.footer__column-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-link {
  text-decoration: none;
  color: #fff;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
